body {
background: #333;
color: #ffff;
}

#about:hover {
    color: red;
    cursor: pointer;
    
}
#contact:hover {
    color: red;
    cursor: pointer;
    
}
#menu:hover {
    color: red;
    cursor: pointer;
    
}
#home:hover {
    color: red;
    cursor: pointer;
    
}